.footer {
    background-color: #EEE;
}

.footer h3 {
    font-size: 18px; /* Ajustement de la taille des titres */
    font-weight: bold;
    margin-bottom: 15px; /* Espace en dessous des titres */
}

.footer ul {
    padding-left: 0; /* Supprimer le padding par défaut des listes */
    list-style: none; /* Supprimer les puces */
}

.footer .col-md-3 {
    flex: 1; /* Chaque colonne prend une place égale */
    min-width: 250px; /* Largeur minimale pour chaque colonne */
    padding: 0 20px; /* Espacement entre les colonnes */
}

.footer a {
    color: black; /* Couleur des liens */
    font-size: 16px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; /* Soulignement au survol */
}

.footer .fa-angle-right {
    color: #007bff;
}
