@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

body {margin: 0;
       padding: 0;
       width: 100%;}

body {
       font-family: 'Nunito Sans', sans-serif;
       font-weight: 400; /* Poids par défaut pour le corps du texte */
       }
            
       h1, h2, h3, h4, h5, h6, strong {
       font-weight: 600; /* Poids plus épais pour les titres et <strong> */
       }